	ion-item.yellow {
		border-style: none none none solid;
		border-width: 7px;
		border-color: yellow;
	}

	ion-item.red {
		border-style: none none none solid;
		border-width: 7px;
		border-color: red;
	}

	ion-item.green {
		border-style: none none none solid;
		border-width: 7px;
		border-color: green;
	}
