
	<ion-card *ngIf="isRequestModelEmpty()">
		<ion-card-content>
			No one has made any requests of you. Yet!
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getPendingRequests() !== undefined">
		<ion-card-header>
			<hr class="yellow"/>
			<!-- Pending<br/> -->
			<i>To accept, or decline these promise requests; that is your question.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getPendingRequests()">
			<ion-item>
				Your promise: <b>{{item.prm.title}}</b><br/>
				Requested by: {{item.directionallyOppositeUser.realname}}<br/>
				Their dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">View Their Profile</button>
				<button ion-button (click)="onAcceptBtnTap(item)">Accept</button>
				<button ion-button (click)="onDeclineBtnTap(item)">Decline</button>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getAcceptedRequests() !== undefined">
		<ion-card-header>
			<hr class="green"/>
			<!-- Accepted<br/> -->
			<i>These are requests you've committed to doing.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getAcceptedRequests()">
			<ion-item>
				Your promise: <b>{{item.prm.title}}</b><br/>
				Requested by: {{item.directionallyOppositeUser.realname}}<br/>
				Their dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onUnableToCompleteBtnTap(item)">Cancel</button>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getDeclinedRequests() !== undefined">
		<ion-card-header>
			<hr class="red"/>
			<!-- Declined<br/> -->
			<i>These are requests that you have declined to do.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getDeclinedRequests()">
			<ion-item>
				Your promise: <b>{{item.prm.title}}</b><br/>
				Requested by: {{item.directionallyOppositeUser.realname}}<br/>
				Their dream: {{item.dream.title}}<br/>
				Decline Reason: {{item.declinedReasonCode.text}}<br/>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getCompletedPendingApprovalRequests() !== undefined">
		<ion-card-header>
			<hr class="yellow"/>
			<!-- Completed Pending Requestor Approval<br/> -->
			<i>These are promises you've marked fulfilled. We're waiting for the other user to confirm that.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getCompletedPendingApprovalRequests()">
			<ion-item>
				Your promise: <b>{{item.prm.title}}</b><br/>
				Requested by: {{item.directionallyOppositeUser.realname}}<br/>
				Their dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getDisputedCompletedRequests() !== undefined">
		<ion-card-header>
			<hr class="red"/>
			<!-- Disputed, Requestor Marked Not Complete<br/> -->
			<i>These are promises you've marked fulfilled, but the other user did not agree.</i>
			<i>Please talk with them, and see if you can come to a resolution. If not, mark</i>
			<i>the promise fulfilled again. You will receive half the agreed upon points, </i>
			<i>and your history will show that this was a negative interaction. :(</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getDisputedCompletedRequests()">
			<ion-item>
				Your promise: <b>{{item.prm.title}}</b><br/>
				Requested by: {{item.directionallyOppositeUser.realname}}<br/>
				Their dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
			</ion-item>
		</ion-card-content>
	</ion-card>
