<ion-header>
	<easyah-header></easyah-header>

	<br/>

	<ion-row>
			<h1 class="centered">People asked you for...<br/></h1>
	</ion-row>
</ion-header>

<ion-content padding>
	<!-- TODO: Add a Refresher -->

	<ion-item *ngIf="isRequestModelEmpty()">
		<img class="centered" src="assets/img/no-outgoing-requests.jpg">
		<span class="centered"><br/>You don't have any open requests... yet!</span>
	</ion-item>

	<ion-list *ngIf="getPendingRequests()">
		<ion-item-divider sticky>
			<ion-label>
				Waiting for you
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getPendingRequests()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(request)" (press)="onViewPromise(request)">
				<button ion-item>
					<ion-avatar *ngIf="isPrmAvatarImageAvailable()" item-start>
						<img [src]="getPrmAvatarImageFilepath()">
					</ion-avatar>
					<ion-avatar *ngIf="!isPrmAvatarImageAvailable()" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span class="prmTitle"><b>{{request.prm.title}}</b></span><br/>
					<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
					<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
					<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
				</button>

				<ion-item-options side="left">
					<button ion-button (click)="onViewContactInfoBtnTap(request)">View Profile</button>
					<button ion-button color="secondary" (click)="onAcceptBtnTap(request)">Accept</button>
				</ion-item-options>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="onDeclineBtnTap(request)">Decline</button>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getAcceptedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Accepted, These Are In-Progress
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getAcceptedRequests()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(request)" (press)="onViewPromise(request)">
				<button ion-item>
					<ion-avatar *ngIf="isPrmAvatarImageAvailable()" item-start>
						<img [src]="getPrmAvatarImageFilepath()">
					</ion-avatar>
					<ion-avatar *ngIf="!isPrmAvatarImageAvailable()" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span class="prmTitle"><b>{{request.prm.title}}</b></span><br/>
					<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
					<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
					<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
				</button>
				<ion-item-options side="left">
					<button ion-button color="secondary" (click)="onCompleteBtnTap(request)">Mark Completed</button>
					<button ion-button (click)="onViewContactInfoBtnTap(request)">Contact Info</button>
				</ion-item-options>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="onCancelBtnTap(request)">Cancel</button>
				</ion-item-options>
	  		</ion-item-sliding>
		</ion-item-group>
	</ion-list>
	<ion-list *ngIf="getDeclinedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Declined
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getDeclinedRequests()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(request)" (press)="onViewPromise(request)">
				<button ion-item>
					<ion-avatar *ngIf="isPrmAvatarImageAvailable()" item-start>
						<img [src]="getPrmAvatarImageFilepath()">
					</ion-avatar>
					<ion-avatar *ngIf="!isPrmAvatarImageAvailable()" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span class="prmTitle"><b>{{request.prm.title}}</b></span><br/>
					<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
					<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
					<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
					<span class="foo">Decline Reason: {{request.declinedReasonCode.text}}</span><br/>
				</button>
				<ion-item-options side="left">
					<button ion-button (click)="onViewContactInfoBtnTap(request)">Contact Info</button>
				</ion-item-options>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="onHideRequestBtnTap(request)">Hide</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getCompletedPendingApprovalRequests()">
		<ion-item-divider sticky>
			<ion-label>
				You Marked These Completed
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getCompletedPendingApprovalRequests()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(request)" (press)="onViewPromise(request)">
				<button ion-item>
					<ion-avatar *ngIf="isPrmAvatarImageAvailable()" item-start>
						<img [src]="getPrmAvatarImageFilepath()">
					</ion-avatar>
					<ion-avatar *ngIf="!isPrmAvatarImageAvailable()" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span class="prmTitle"><b>{{request.prm.title}}</b></span><br/>
					<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
					<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
					<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
				</button>
				<ion-item-options side="left">
					<button ion-button (click)="onViewContactInfoBtnTap(request)">Contact Info</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>
	<ion-list *ngIf="getDisputedCompletedRequests()">
		<ion-item-divider sticky>
			<ion-label>
				Disputed, Completed
			</ion-label>
		</ion-item-divider>
		<ion-item-group *ngFor="let request of getDisputedCompletedRequests()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(request)" (press)="onViewPromise(request)">
				<button ion-item>
					<ion-avatar *ngIf="isPrmAvatarImageAvailable()" item-start>
						<img [src]="getPrmAvatarImageFilepath()">
					</ion-avatar>
					<ion-avatar *ngIf="!isPrmAvatarImageAvailable()" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span class="prmTitle"><b>{{request.prm.title}}</b></span><br/>
					<span *ngIf="hasRequestMessage(request)" class="douMsg">{{getRequestMessage(request)}}<br/></span>
					<span *ngIf="!hasRequestMessage(request)" class="douMsg">--<br/></span>
					<span class="douName">{{request.directionallyOppositeUser.realname}}</span><br/>
				</button>
				<ion-item-options side="left">
					<button ion-button (click)="onViewContactInfoBtnTap(request)">Contact Info</button>
				</ion-item-options>
				<ion-item-options side="right">
					<button ion-button (click)="onCompleteBtnTap(request)">Complete</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-item-group >
	</ion-list>

</ion-content>