	<ion-item *ngIf="isRequestModelEmpty()">
		No one has made any requests of you. Yet!
	</ion-item>
	<requests-line-item *ngFor="let item of getPendingRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getAcceptedRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getDeclinedRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getCompletedPendingApprovalRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getDisputedCompletedRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
