.card {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fore-div {
	background-color: white;
	position: absolute;
}

#prmDisplayHeaderImg {
	height: 275px;
	display: block;
	margin: 0 auto;
}

.displayPrmSectionHeader {
	display: block;
	padding-bottom: 1em;
	font-size: 1.2em;
	font-weight: 300;
}

#displayPrmTitle {
	font-size: 1.6em;
	font-weight: bold;
}

#displayPrmDescription {
	font-size: 1.15em;
	font-weight: bold;
}

#displayPrmQuantity {
	font-size: 1.15em;
	font-weight: bold;
}