<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-item no-lines>
				<ion-label color="primary" stacked>Title: </ion-label>
				<ion-input type="text" placeholder="Teach a skill..." (ionChange)="handleTitleChange($event)" [disabled]="!isModelTitleEditable()" [(ngModel)]="model.title" #ctrl="ngModel" required></ion-input>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-item no-lines>
				<ion-label color="primary" stacked>Quantity: </ion-label>
			</ion-item>
			<ion-row>
				<ion-col col-2>
					<ion-input id="prmQuantity" type="number" (ionChange)="handleQuantityChange($event)" [disabled]="!isModelQuantityEditable()" [(ngModel)]="model.quantity" #ctrl="ngModel" required></ion-input>
				</ion-col>
				<ion-col>
					<ion-input id="prmQuantityDesc" type="text" maxlength="50" placeholder="Offered units" (ionChange)="handleQuantityDescriptionChange($event)" [disabled]="!isModelQuantityDescEditable()" [(ngModel)]="model.quantityDescription" #ctrl="ngModel" required></ion-input>
				</ion-col>
			</ion-row>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label color="primary" stacked>Description: </ion-label>
				<ion-textarea rows="5" placeholder="I have many moons experience in XYZ and I will teach..." (ionChange)="handleDescriptionChange($event)" [disabled]="!isModelDescriptionEditable()" [(ngModel)]="model.description" #ctrl="ngModel" required></ion-textarea>
			</ion-item>
		</ion-row>
		<ion-row>
			<span class="displayPrmSectionHeader">
				Rules
				<ion-buttons>
					<button ion-button end (click)="onNewRuleBtnTap($event)">
						<ion-icon name="add"></ion-icon>
					</button>
				</ion-buttons>
			</span>

			<ion-item>
				<span *ngIf="getRequiredPointsQuantity() === 0">
					Rules describe who can request this promise from you. Set some points!
				</span>
				<span *ngIf="getRequiredPointsQuantity() > 0">
					<i>This promise requires {{getRequiredPointsQuantityString()}}</i>
					<span *ngIf="areRecommendationsRequired()">
						<i> and the following recommendations: </i><br/>
						<span class="blockItem" *ngFor="let rec of getRequiredUserRecommendations()">
							{{rec.userObj.realname}}<br/>
						</span>
					</span>
				</span>
			</ion-item>
		</ion-row>

		<ion-row>
			<span class="displayPrmSectionHeader">
				Keywords
				<ion-buttons>
					<button ion-button (click)="onAddKeywordBtnTap($event)">
						<ion-icon name="add"></ion-icon>
					</button>
				</ion-buttons>
			</span>
			<ion-item *ngIf="prmHasNoKeywords()">
				<span >
					Keywords are descriptive words and phrases. Add some that describe this Promise!
				</span>
			</ion-item>
			<ion-item *ngIf="!prmHasNoKeywords()">
				<span *ngFor="let item of model.keywords">
					<span class="blockItem" (press)="onIndividualKeywordPress()">{{item.text}}</span>
				</span>
			</ion-item>
		</ion-row>

		<ion-row>
			<span class="displayPrmSectionHeader">
				Image
				<ion-buttons>
					<button ion-button (click)="onThumbnailClick($event)">
						<ion-icon name="add"></ion-icon>
					</button>
				</ion-buttons>
			</span>
			<ion-item *ngIf="isThumbnailImageAvailable()">
					<img [hidden]="!isThumbnailImageVisible()" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)">
			</ion-item>
		</ion-row>	

		<ion-row>
			<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap(true)">Save</button>
			<button ion-button (click)="onCancelBtnTap()">Cancel</button>
		</ion-row>
	</ion-grid>
</ion-content>
