<ion-header>
	<ion-navbar>
		<ion-title *ngIf="isNewObject()">
			Create New Promise
		</ion-title>
		<ion-title *ngIf="!isNewObject() && !isReadOnly()">
			Edit Your Promise
		</ion-title>
		<ion-title *ngIf="!isNewObject() && isReadOnly()">
			Promise Detail
		</ion-title>		
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="isRequestMessageAvailable()">
		<ion-card-content *ngIf="isStillMoreTimeLeftMessageAvailable()">
			<ion-item *ngFor="let item of getStillMoreTimeLeftMessages()" [ngStyle]="{'color':'red'}">
				{{item.msg}}
			</ion-item>
		</ion-card-content>	
		<ion-card-content *ngIf="isAlreadyRequestedMessageAvailable()">
			<ion-item *ngFor="let item of getAlreadyRequestedRequestMessages()" [ngStyle]="{'color':'red'}">
				{{item.msg}}
			</ion-item>
		</ion-card-content>	
		<ion-card-content *ngIf="isPointsRequestMessageAvailable()">
			<span *ngFor="let item of getPointsRequestMessages()" [ngStyle]="{'color':'red'}">
				You need {{item.msg}}.
			</span>
		</ion-card-content>	
		<ion-card-content *ngIf="isRecommendationsRequestMessageAvailable()">
			You need recommendations from:
			<ul>
				<li *ngFor="let item of getRecommendationsRequestMessages()" [ngStyle]="{'color':'red'}">
					{{item.msg}}
				</li>
			</ul>
		</ion-card-content>	
	</ion-card>
	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label color="primary" stacked>Title: </ion-label>
				<ion-input type="text" placeholder="Teach a skill..." [disabled]="isReadOnly()" (ionChange)="handleTitleChange($event)" [(ngModel)]="model.title" #ctrl="ngModel" required></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" stacked>Description: </ion-label>
				<ion-textarea rows="5" placeholder="I have many moons experience in XYZ and I will teach..." [disabled]="isReadOnly()" (ionChange)="handleDescriptionChange($event)" [(ngModel)]="model.description" #ctrl="ngModel" required></ion-textarea>
			</ion-item>
			<ion-item>
				Rules
				<button ion-button icon-only small color="danger" [hidden]="isReadOnly()" (click)="onNewRuleBtnTap($event)"><ion-icon name="add"></ion-icon></button><br/>
				<i>This promise requires {{getRequiredPointsQuantity()}} points</i>
				<div *ngIf="areRecommendationsRequired()">
					<i> and the following recommendations: </i><br/>
					<span class="blockItem" *ngFor="let rec of getRequiredUserRecommendations()">
						{{rec.userObj.realname}}<br/>
					</span>
				</div>

			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			Keywords
			<button *ngIf="!isReadOnly()" ion-button icon-only small color="danger" (click)="onAddKeywordBtnTap($event)"><ion-icon name="add"></ion-icon></button>								
		</ion-card-header>
		<ion-card-content>
			<span *ngIf="prmHasNoKeywords()">
				Keywords are descriptive words and phrases. Add some that describe this Promise!
			</span>
			<span class="blockItem" *ngFor="let item of model.keywords" (press)="onIndividualKeywordPress(item)">
				{{item.text}}
			</span>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<span>First Fulfilled: {{getFirstFulfilledText()}} / Total Points Earned: {{getTotalPointsEarned()}} / Total Complaints: {{getNumberOfComplaints()}}</span>
		</ion-card-content>
	</ion-card>

	<ion-row>
		<button ion-button [hidden]="!isDeleteBtnVisible()" color="danger" (click)="onDeleteBtnTap($event)">Delete</button>			
		<button ion-button [hidden]="!isSaveBtnVisible()" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
		<button ion-button [hidden]="!isRequestBtnVisible()" (click)="onRequestBtnTap($event)">Request</button>
	</ion-row>

</ion-content>