
.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.howLongAgo {
	font-color: lightblue;
	font-size: .75em;
	display: block;
}

.notificationMsg {
	font-style: italic;
	font-size: .95em;
	display: block;
}

