<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col>
			<h1 class="pageHeaderText centered">Your Notifications...<br/></h1>
		</ion-col>
	</ion-row>

		<ion-item *ngIf="userHasNoNotifications()">
			<img class="centered" src="assets/img/no-notifications.jpg">
			<span class="centered"><br/>No notifications.. go make something happen!</span>
		</ion-item>


	<ion-list *ngIf="!userHasNoNotifications()">
		<!-- span>Swipe left to clear a notification.<br/><br/></span -->
		<ion-item-group *ngFor="let item of getNotifications()">
			<ion-item-sliding #slidingItem [attr.track]="getTrack(item)" >
				<button ion-item>
					<ion-avatar class="profileAvatar" *ngIf="isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
						<img id="profileAvatarImg" [class]="getAvatarCSSClassString()" [src]="getDOUserProfileImageFilepath(item['oppUserId'])" alt="profile_image" (load)="loaded($event)">
					</ion-avatar>
					<ion-avatar *ngIf="!isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
						<img src="assets/img/mushroom.jpg">
					</ion-avatar>

					<span >
						<span class="howLongAgo">{{item.howLongAgo}}</span><span class="notificationMsg">{{item.message}}</span>
					</span>
				</button>

				<ion-item-options side="left">
					<button ion-button (click)="onClearIndividualNotification(item)">Clear</button>
				</ion-item-options>

			</ion-item-sliding>
		</ion-item-group>
	</ion-list>

</ion-content>