<ion-header>
	<ion-navbar>
		<ion-title>
			Delete a Thing - {{thing.title}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="!isThingAttachedToARequestNotInProgress() && !isThingAttachedToAnInProgressRequest()">
		<ion-label>Are you sure you want to delete this thing?</ion-label>
	</ion-row>

	<ion-row *ngIf="isThingAttachedToARequestNotInProgress() || isThingAttachedToAnInProgressRequest()">
		<ion-label>You have requests from people to do this thing.</ion-label>
	</ion-row>
	<ion-row *ngIf="isThingAttachedToARequestNotInProgress()">
		<ion-card>
			<ion-card-header>
				You have not yet accepted these requests. If you delete this thing, they will be cancelled.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let item of getThingRequestsNotInProgress()">
					User: {{item.directionallyOppositeUser.realname}} Dream: {{item.dream.title}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>		
	<ion-row *ngIf="isThingAttachedToAnInProgressRequest()">
		<ion-card>
			<ion-card-header>
				These requests are in progress. You will need to resolve these before deleting this Thing.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let item of getThingRequestsInProgress()">
					User: {{item.directionallyOppositeUser.realname}} Dream: {{item.dream.title}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</button>
		<button ion-button color="danger" [disabled]="!isDeleteBtnEnabled()" (click)="onDeleteBtnTap($event)">DELETE!</button>
	</ion-row>

</ion-content>