<ion-header>
	<ion-navbar>
		<ion-title>
			Create New Rule
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-label>A Rule describes the conditions another user (the Requestor) must meet before they can request that you do your Thing.
		You must set a number of points that the user must have. If you wish, you can define users who must
		have given the Requestor a recommendation. If the Requestor does not have sufficient points, or the
		required recommendations, they will not be able to send you a request for this Thing.</ion-label>		
		<ion-row>
			<ion-label>Required points</ion-label>
			<ion-input type="number" placeholder="quantity" max="10000" [(ngModel)]="pointsQuantity" #ctrl="ngModel" required></ion-input>
		</ion-row>
		<ion-row>
			<table>
				<tr>
					<td>
						<ion-label class="recommendationLabel">Required recommendations</ion-label>
					</td>
					<td>
						<span class="blockItem" *ngFor="let user of requiredUserRecommendations" (press)="onIndividualRequiredUserPress(user)">
							{{user.realname}}
						</span>
					</td>
				</tr>
			</table>
		</ion-row>
		<hr/>
		<ion-row>
			<ion-input type="text" placeholder="Search for a user's name" (ionChange)="handleSearchStringChange($event)" [(ngModel)]="searchString" #ctrl="ngModel" required></ion-input>
			<button ion-button icon-only [disabled]="!isSearchBtnEnabled()" (click)="onSearchUserBtnTap($event)">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-row>
		<ion-row *ngIf="getSearchResultListCountString()">
			{{getSearchResultListCountString()}}
		</ion-row>
		<ion-row *ngIf="getSearchResultList() !== undefined">
			<ion-list radio-group>
				<span class="blockItem" *ngFor="let user of getSearchResultList()" (click)="onIndividualSearchResultTap(user)">
					{{user.realname}}
				</span>
			</ion-list>
		</ion-row>

		<ion-row>
			<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
			<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
		</ion-row>

	</ion-content>