.blockItem {
	display: inline-block;
	border-style: solid;
	padding: 0.5em;
	margin-left: .25em;
	margin-right: .25em;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}