.socialNetworkImg {
	display: inline;
	padding-left: .6em;
	padding-right: .6em;
}

.socialNetworkImg > img {
	width: 3em;
	height: 3em;
}

.socialNetworkList {
	padding-left: 0px;
}

.blockItem {
	display: inline-block;
	border-style: solid;
	padding: 0.5em;
	margin-left: .25em;
	margin-right: .25em;
	margin-bottom: .5em;
}

.smallKeyword {
	display: inline-block;
	border-style: none none solid none;
	border-width: 2px;
	margin-left: .25em;
	margin-right: .25em;
}

.displayBlock {
	display: block;
	font-size: 3em;
	font-weight: bold;
}

.howLongAgo {
	font-color: lightblue;
	font-size: .75em;
	display: block;
}

.notificationMsg {
	font-style: italic;
	font-size: .95em;
	display: block;
}

.ptsTdElement {
	padding: 1px 15px;
}

.prmDesc {
	font-size: .9em;	
}

.prmTitle {
	font-size: 1.25em;
	font-weight: bold;
}

.contactInfoField {
	font-size: 1.45em;
}

.profileIcon {
	font-size: 1.45em;
	margin-top: .3em; 
}

.promiseDetail {
	margin: 0px 0px 0px 10px;
}

.listHeader .label-md {
	margin: 13px 8px 0px 0px;
}

.listHeader {
	margin-bottom: 0px;
}

.listHeaderBtn {
	float: right;
}

.fifteenPixelLeftMargin {
	margin: 0px 0px 0px 15px;
}

ion-avatar.profileAvatar > img {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
