<ion-content padding>

		<ion-row>
			<ion-col>
				<span class="centered">
					<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
					<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
				</span>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-item *ngIf="isThumbnailImageAvailable() && !isFromGallery()">
				<ion-avatar >
					<img id="profileAvatarImg" [hidden]="!isThumbnailImageVisible()" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image" (load)="loaded($event)" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)">
				</ion-avatar>
			</ion-item>
			<ion-item *ngIf="isThumbnailImageAvailable() && isFromGallery()">
				<ion-avatar >
					<img id="profileAvatarImg" [hidden]="!isThumbnailImageVisible()" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image" (load)="loaded($event)" (click)="onThumbnailClick($event)" (press)="onThumbnailPress($event)">
				</ion-avatar>
			</ion-item>
			<ion-item *ngIf="!isThumbnailImageAvailable()">
				<ion-avatar>
					<img id="profileAvatarImg" class="centered" src="assets/img/mushroom.jpg" (click)="onThumbnailClick($event)">
				</ion-avatar>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label color="primary" stacked>Real Name</ion-label>
					<ion-input type="text" (ionChange)="onRealNameChange($event)" [value]="getModelAttr('realname')" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="primary" stacked>Description</ion-label>
					<ion-input type="text" (ionChange)="onDescriptionChange($event)" [value]="getModelAttr('description')" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="primary" stacked>Phone Number</ion-label>
					<ion-input type="number" (ionChange)="onPhoneChange($event)" [value]="getModelAttr('phone')" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="primary" stacked>Email Address</ion-label>
					<ion-input type="text" (ionChange)="onEmailChange($event)" [value]="getModelAttr('email')" required></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-item id="profileSectionHeader">Communication Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label>When you accept another user's request, that user can see your contact info. What should they see?</ion-label>
			</ion-item>				
			<ion-item>
				<ion-select id="contactInfoVisibilitySelect" [(ngModel)]="contactInfoVisibilityId" (ionChange)="setDirty(true)">
					<ion-option *ngFor="let choice of contactInfoVisibilityChoices" [value]="choice.id">{{choice.text}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-item id="profileSectionHeader">Location Settings</ion-item>
		</ion-row>
		<ion-row>
			<ion-item>
				<ion-label>Press this button to set your official location.</ion-label>
			</ion-item>				
			<ion-item>
				<button ion-button [disabled]="!isSetCurrentLocationBtnAvailable()" (click)="onSetCurrentLocationAsOfficialLocation($event)">Set Your Location</button>
			</ion-item>
		</ion-row>


</ion-content>