<ion-header>
	<ion-navbar>
		<ion-title *ngIf="isReadOnly()">
			View Another's Profile
		</ion-title>
		<ion-title *ngIf="!isReadOnly()">
			Edit Your Profile
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<profile-header [user]="getUser()" [readOnly]="isReadOnly()"></profile-header>
	<table class="fifteenPixelLeftMargin">
		<tr>
			<td>
				<ion-icon class="profileIcon" name="phone-portrait"></ion-icon>
			</td>
			<td>
		        <ion-input type="text" class="contactInfoField" (ionChange)="onPhoneChange($event)" [value]="getModelAttr('phone')" required></ion-input>
			</td>
			<td>
				<ion-icon class="profileIcon" name="mail"></ion-icon>
			</td>
			<td>
		        <ion-input type="text" class="contactInfoField" (ionChange)="onEmailChange($event)" [value]="getModelAttr('email')" required></ion-input>
			</td>
		</tr>
	</table>

	<ion-row *ngIf="isReadOnly()">
		<button ion-button [disabled]="!isSendPointBtnAvailable()" (click)="onSendPointBtnTap($event)">Send Point</button>
		<button ion-button [disabled]="!isSendRecommendBtnAvailable()" (click)="onSendRecommendationBtnTap($event)">Send Recommendation</button>
	</ion-row>

	<ion-list>
		<ion-list-header class="listHeader">
			Points
		</ion-list-header>
		<table>
			<tr>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.points.total}}</span> Total
				</td>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.points.available}}</span> Available
				</td>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.allTimePointCount}}</span> All Time
				</td>
			</tr>
		</table>	
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader" *ngIf="!isReadOnly()">
			Promises
		</ion-list-header>
		<ion-item *ngFor="let prm of model.prms" (swipeLeft)="onDeletePromise(prm)" (press)="onPromiseBtnTap(prm)">
			<ion-avatar item-start>
				<img [src]="getPromiseAvatarImage(prm)">
			</ion-avatar>
			<span class="prmTitle">{{prm.title}}</span><br/>
			<span class="prmDesc">{{prm.description}}</span><br/>
			<div class="promiseDetail">
				<span class="prmReqdPts">{{getPointRecommendationCountPhrase(prm)}}<br/></span>
				<span *ngFor="let keyword of prm.keywords"><span class="smallKeyword">{{keyword.text}}</span></span>
			</div>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader">
			Recommendations
		</ion-list-header>
		<ion-item *ngFor="let item of getAvailableIncomingRecommendations()">
			<ion-avatar *ngIf="isDOUserProfileImageAvailable(item['requestingUserId'])" item-start>
				<img [src]="getDOUserProfileImageFilepath(item["requestingUserId"])">
			</ion-avatar>
			<ion-avatar *ngIf="!isDOUserProfileImageAvailable(item['requestingUserId'])" item-start>
				<img src="assets/img/mushroom.jpg">
			</ion-avatar>
			<span>
				{{getRealName(item)}}
			</span>
		</ion-item>
		<ion-item *ngIf="!areIncomingRecommendationsAvailable()">
			<span >No Available Recommendations</span>				
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader">
			Profile Keywords
		</ion-list-header>
		<span *ngIf="userHasNoKeywords() && !isReadOnly()">
			Keywords are descriptive words and phrases. Add some to describe you!
		</span>
		<span *ngIf="userHasNoKeywords() && isReadOnly()">
			This user has not defined any keywords yet.
		</span>
		<div class="fifteenPixelLeftMargin">
			<span *ngFor="let item of model.keywords">
				<span class="blockItem" (press)="onIndividualKeywordPress(item)">{{item.text}}</span>
			</span>
		</div>
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader" *ngIf="!isReadOnly()">
			Notifications
		</ion-list-header>
		<ion-item *ngIf="userHasNoNotifications()">
			<span >
				<span class="notificationMsg">No notifications.. go make something happen!</span>
			</span>
		</ion-item>
		<ion-item *ngFor="let item of getNotifications()" (swipeLeft)="onClearIndividualNotification(item)">
			<ion-avatar *ngIf="isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
				<img [src]="getDOUserProfileImageFilepath(item['oppUserId'])">
			</ion-avatar>
			<ion-avatar *ngIf="!isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
				<img src="assets/img/mushroom.jpg">
			</ion-avatar>
			<span >
				<span class="howLongAgo">{{item.howLongAgo}}</span><span class="notificationMsg">{{item.message}}</span>
			</span>
		</ion-item>
	</ion-list>

</ion-content>