<ion-header>
	<ion-navbar>
		<ion-title>
			Profile
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<button *ngIf="isReadOnly()" ion-button (click)="onCancelBtnTap($event)">Close</button>
		<button *ngIf="!isReadOnly()" ion-button (click)="onCancelBtnTap($event)">Cancel</button>
		<button ion-button [hidden]="isReadOnly()" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
	</ion-row>
	<ion-card>
		<ion-card-header>
			Contact Info
		</ion-card-header>
		<ion-card-content>
			<table>
				<tr>
					<td>
					<ion-item *ngIf="isThumbnailImageAvailable()">
							<ion-thumbnail item-start >
								<img class="rotate90" [src]="getBase64ThumbnailImage()" alt="profile_image" (press)="onThumbnailPress($event)">
							</ion-thumbnail>
						</ion-item>
					<ion-item *ngIf="!isThumbnailImageAvailable()">
							<ion-thumbnail item-start >
								<img src="assets/img/mushroom.jpg" (press)="onThumbnailPress($event)">
							</ion-thumbnail>
						</ion-item>
					</td>
					<td>
						<ion-item>
							<ion-label fixed>Name: </ion-label>
							<ion-input type="text" placeholder="Name" [disabled]="isReadOnly()" (ionChange)="onNameChange()" [(ngModel)]="model.realname" #ctrl="ngModel" required></ion-input>		
						</ion-item>
					</td>
				</tr>
			</table>
			<ion-item *ngIf="!isReadOnly()">
				<ion-label fixed>Email: </ion-label>
				<ion-input type="text" placeholder="you@domain.com" [disabled]="isReadOnly()" (ionChange)="onEmailChange()" [(ngModel)]="model.email" #ctrl="ngModel" required></ion-input>		
			</ion-item>
			<ion-item *ngIf="!isReadOnly()">
				<ion-label fixed>Phone: </ion-label>
				<ion-input type="text" placeholder="# " [disabled]="isReadOnly()" (ionChange)="onPhoneChange()" [(ngModel)]="model.phone" #ctrl="ngModel" required></ion-input>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-row [class]="getKeywordsCardClass()">
		<ion-card>
			<ion-card-header>
				Profile Keywords
				<button *ngIf="!isReadOnly()" ion-button icon-only small color="danger" (click)="onAddKeywordBtnTap($event)"><ion-icon name="add"></ion-icon></button>								
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoKeywords() && !isReadOnly">
					Keywords are descriptive words and phrases. Add some to describe you!
				</span>
				<span *ngIf="userHasNoKeywords() && isReadOnly">
					This user has not defined any keywords yet.
				</span>
				<span class="blockItem" *ngFor="let item of model.keywords" (press)="onIndividualKeywordPress(item)">
					{{item.text}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	
	<ion-row *ngIf="!isReadOnly() && model.points" [class]="getPointsCardClass()">
		<ion-card>
			<ion-card-header>
				Points
			</ion-card-header>
			<ion-card-content>
				<ion-item>
					Total: 
					<ion-badge item-end>{{model.points.total}}</ion-badge>
				</ion-item>
				<ion-item>
					Available:
					<ion-badge item-end>{{model.points.available}}</ion-badge>
				</ion-item>
				<ion-item>
					All Time:
					<ion-badge item-end>{{model.allTimePointCount}}</ion-badge>
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>
	<ion-row [class]="getRecommendationsCardClass()">
		<ion-card>
			<ion-card-header>
				Recommendations
			</ion-card-header>
			<ion-card-content>
				<div *ngIf="getAvailableIncomingRecommendations()">
					<span class="blockItem" *ngFor="let item of getAvailableIncomingRecommendations()">
						{{getRealName(item)}}
					</span>
				</div>
				<span *ngIf="!getAvailableIncomingRecommendations()">No Available Recommendations</span>				
			</ion-card-content>
		</ion-card>
	</ion-row>	
	<ion-row [class]="getDreamsCardClass()">
		<ion-card>
			<ion-card-header>
				Dreams
				<button *ngIf="!isReadOnly()" ion-button icon-only small color="danger" (click)="onNewDreamBtnTap($event)"><ion-icon name="add"></ion-icon></button>
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoDreams() && !isReadOnly()">
					Where do you see yourself tomorrow? Add a dream here!
				</span>
				<span *ngIf="userHasNoDreams() && isReadOnly()">
					This user has not added any dreams yet!
				</span>
				<span class="blockItem" *ngFor="let item of model.dreams" (click)="onDreamBtnTap(item)">
					{{item.title}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	
	<ion-row [class]="getPromisesCardClass()">
		<ion-card>
			<ion-card-header>
				Promises
				<button *ngIf="!isReadOnly()" ion-button icon-only small color="danger" (click)="onNewPromiseBtnTap($event)"><ion-icon name="add"></ion-icon></button>				
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoPromises() && !isReadOnly()">
					Got some thing you do well? Make a promise to do it!
				</span>
				<span *ngIf="userHasNoPromises() && isReadOnly()">
					This user has not added any Promises yet!
				</span>
				<span class="blockItem" *ngFor="let item of model.prms" (click)="onPromiseBtnTap(item)">
					{{item.title}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	
	<ion-row *ngIf="!isReadOnly()" [class]="getNotificationsCardClass()">
		<ion-card>
			<ion-card-header>
				Notifications 
				<span *ngIf="!userHasNoNotifications()" class="blockItem" (press)="onNotificationClearAllBtnPress(item)">
					Press Here to Clear All
				</span>
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoNotifications()">
					No notifications.. go make something happen!
				</span>
				<span *ngFor="let item of getNotifications()" (press)="onNotificationPress(item)">
					<i>{{item.howLongAgo}}</i> - {{item.message}}<br/>
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	
	<ion-row>
		<button *ngIf="isReadOnly()" ion-button (click)="onCancelBtnTap($event)">Close</button>
		<button *ngIf="!isReadOnly()" ion-button (click)="onCancelBtnTap($event)">Cancel</button>
		<button ion-button [hidden]="isReadOnly()" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
	</ion-row>

</ion-content>