<ion-header>
	<ion-navbar>
		<ion-title *ngIf="isReadOnly()">
			View Another's Profile
		</ion-title>
		<ion-title *ngIf="!isReadOnly()">
			Edit Your Profile
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<profile-header [user]="getUser()" [readOnly]="isReadOnly()"></profile-header>
	<ion-grid>
		<ion-row>
			<ion-col col-auto>
				<table>
					<tr>
						<td>
							<ion-icon class="profileIcon" name="phone-portrait"></ion-icon>
						</td>
						<td>
							<ion-input type="text" class="contactInfoField" (ionChange)="onPhoneChange($event)" [value]="getModelAttr('phone')" required></ion-input>
						</td>
					</tr>
				</table>
			</ion-col>
			<ion-col col-auto>
				<table>
					<tr>
						<td>
							<ion-icon class="profileIcon" name="mail"></ion-icon>
						</td>
						<td>
					        <ion-input type="text" class="contactInfoField" [readonly]="isReadOnly()" (ionChange)="onEmailChange($event)" [value]="getModelAttr('email')" required></ion-input>
						</td>
					</tr>
				</table>
			</ion-col>
		</ion-row>		
	</ion-grid>

	<ion-row *ngIf="isReadOnly()">
		<button ion-button [disabled]="!isSendPointBtnAvailable()" (click)="onSendPointBtnTap($event)">Send Point</button>
		<button ion-button [disabled]="!isSendRecommendBtnAvailable()" (click)="onSendRecommendationBtnTap($event)">Send Recommendation</button>
	</ion-row>

	<ul class="socialNetworkList">
		<li class="socialNetworkImg" *ngIf="socialMediaURLIsAvailable('facebook')">
			<img src="assets/img/facebook-logo-active.png" (click)="onSocialMediaURLBtnClick('facebook')">
		</li>
		<li class="socialNetworkImg" *ngIf="!socialMediaURLIsAvailable('facebook')">
			<img src="assets/img/facebook-logo-inactive.png" (click)="onSocialMediaURLBtnClick('facebook')">
		</li>

		<li class="socialNetworkImg" *ngIf="socialMediaURLIsAvailable('linkedin')">
			<img src="assets/img/linkedin-logo-active.png" (click)="onSocialMediaURLBtnClick('linkedin')">
		</li>
		<li class="socialNetworkImg" *ngIf="!socialMediaURLIsAvailable('linkedin')">
			<img src="assets/img/linkedin-logo-inactive.png" (click)="onSocialMediaURLBtnClick('linkedin')">
		</li>

		<li class="socialNetworkImg" *ngIf="socialMediaURLIsAvailable('youtube')">
			<img src="assets/img/youtube-logo-active.png" (click)="onSocialMediaURLBtnClick('youtube')">
		</li>
		<li class="socialNetworkImg" *ngIf="!socialMediaURLIsAvailable('youtube')">
			<img src="assets/img/youtube-logo-inactive.png" (click)="onSocialMediaURLBtnClick('youtube')">
		</li>

		<li class="socialNetworkImg" *ngIf="socialMediaURLIsAvailable('instagram')">
			<img src="assets/img/instagram-logo-active.png" (click)="onSocialMediaURLBtnClick('instagram')">
		</li>
		<li class="socialNetworkImg" *ngIf="!socialMediaURLIsAvailable('instagram')">
			<img src="assets/img/instagram-logo-inactive.png" (click)="onSocialMediaURLBtnClick('instagram')">
		</li>

		<li class="socialNetworkImg" *ngIf="socialMediaURLIsAvailable('github')">
			<img src="assets/img/github-logo-active.png" (click)="onSocialMediaURLBtnClick('github')">
		</li>
		<li class="socialNetworkImg" *ngIf="!socialMediaURLIsAvailable('github')">
			<img src="assets/img/github-logo-inactive.png" (click)="onSocialMediaURLBtnClick('github')">
		</li>
	</ul>

	<ion-list>
		<ion-list-header class="listHeader">
			Points
		</ion-list-header>
		<table>
			<tr>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.points.total}}</span> Total
				</td>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.points.available}}</span> Available
				</td>
				<td class="ptsTdElement">
					<span class="displayBlock">{{model.allTimePointCount}}</span> All Time
				</td>
			</tr>
		</table>	
	</ion-list>

	<ion-list *ngIf="!isReadOnly()">
		<ion-list-header class="listHeader" >
			<span>Promises</span>
			<button class="listHeaderBtn" round ion-button (click)="onNewPromiseBtnTap()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-list-header>
		<ion-item *ngFor="let prm of model.prms" (swipeLeft)="onDeletePromise(prm)" (press)="onPromiseBtnTap(prm)">
			<ion-avatar item-start>
				<img [src]="getPromiseAvatarImage(prm)">
			</ion-avatar>
			<span class="prmTitle">{{prm.title}}</span><br/>
			<span class="prmDesc">{{prm.description}}</span><br/>
			<div class="promiseDetail">
				<span class="prmReqdPts">{{getPointRecommendationCountPhrase(prm)}}<br/></span>
				<span *ngFor="let keyword of prm.keywords"><span class="smallKeyword">{{keyword.text}}</span></span>
			</div>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader">
			Recommendations
		</ion-list-header>
		<ion-item *ngFor="let item of getAvailableIncomingRecommendations()">
			<ion-avatar *ngIf="isDOUserProfileImageAvailable(item['requestingUserId'])" item-start>
				<img [src]="getDOUserProfileImageFilepath(item["requestingUserId"])">
			</ion-avatar>
			<ion-avatar *ngIf="!isDOUserProfileImageAvailable(item['requestingUserId'])" item-start>
				<img src="assets/img/mushroom.jpg">
			</ion-avatar>
			<span>
				{{getRealName(item)}}
			</span>
		</ion-item>
		<ion-item *ngIf="!areIncomingRecommendationsAvailable()">
			<span >No Available Recommendations</span>				
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="listHeader">
			Profile Keywords
			<button *ngIf="!isReadOnly()" class="listHeaderBtn" round ion-button (click)="onIndividualKeywordPress()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-list-header>
		<span *ngIf="userHasNoKeywords() && !isReadOnly()">
			Keywords are descriptive words and phrases. Add some to describe you!
		</span>
		<span *ngIf="userHasNoKeywords() && isReadOnly()">
			This user has not defined any keywords yet.
		</span>
		<div class="fifteenPixelLeftMargin">
			<span *ngFor="let item of model.keywords">
				<span class="blockItem" (press)="onIndividualKeywordPress()">{{item.text}}</span>
			</span>
		</div>
	</ion-list>

	<ion-list *ngIf="!isReadOnly()">
		<ion-list-header class="listHeader" >
			Notifications
		</ion-list-header>
		<ion-item *ngIf="userHasNoNotifications()">
			<span >
				<span class="notificationMsg">No notifications.. go make something happen!</span>
			</span>
		</ion-item>
		<ion-item *ngFor="let item of getNotifications()" (swipeLeft)="onClearIndividualNotification(item)">
			<ion-avatar *ngIf="isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
				<img [src]="getDOUserProfileImageFilepath(item['oppUserId'])">
			</ion-avatar>
			<ion-avatar *ngIf="!isDOUserProfileImageAvailable(item['oppUserId'])" item-start>
				<img src="assets/img/mushroom.jpg">
			</ion-avatar>
			<span >
				<span class="howLongAgo">{{item.howLongAgo}}</span><span class="notificationMsg">{{item.message}}</span>
			</span>
		</ion-item>
	</ion-list>

</ion-content>