<ion-header>
	<ion-navbar>
		<ion-title>
			Make a Request
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-label>You are about to request that someone do their offer for you.</ion-label>
	<ion-label><b>{{offer.title}}</b></ion-label>
	<ion-label *ngIf="!getRequiredUserRecommendations()">This will require {{offer.requiredPointsQuantity}} points from you.</ion-label>
	<ion-label *ngIf="getRequiredUserRecommendations()">This will require {{offer.requiredPointsQuantity}} points, and the following recommendations from you.</ion-label>
	<users-line-item *ngFor="let user of getRequiredUserRecommendations()" [item]="user" [clickthru]="false"></users-line-item>
	<hr/>

	<ion-label>If you'd like, you can send a message below with your request</ion-label>
	<ion-textarea placeholder="a short message..." (ionChange)="onMessageChange($event)" [value]="getMessageValue()" required></ion-textarea>

	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
		<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
	</ion-row>

</ion-content>