<ion-header>
	<ion-navbar>
		<ion-title>
			Decline a Request
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-label>You are about to DECLINE a request to fulfill an offer.</ion-label>
	<br/>
	<ion-label><b>{{request.offer.title}}</b></ion-label>

	<ion-row>
		<ion-label>Please select a reason why you are declining...</ion-label>
		<ion-item>

			<ion-select [(ngModel)]="selectedDeclineReasonId" >
				<ion-option *ngFor="let drc of declineReasonCodes" [value]="drc.id">{{drc.text}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-row>		

	<ion-row>
		<ion-label>How much time should pass before this user can request this offer again?</ion-label>
		<ion-item>
			<ion-select [(ngModel)]="selectedRequestAgainDelayId" >
				<ion-option *ngFor="let delay of requestAgainDelayCodes" [value]="delay.id">{{delay.text}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-row>

	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</button>
		<button ion-button [disabled]="!isSaveBtnAvailable()" (click)="onSaveBtnTap($event)">YES!</button>
	</ion-row>

</ion-content>