<ion-header>
	<ion-navbar>
		<ion-title>
			Dream Detail
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label color="primary" stacked>Title: </ion-label>
				<ion-input type="text" placeholder="I would like to have lunch with..." [(ngModel)]="model.title" #ctrl="ngModel" required></ion-input>		
			</ion-item>
			<ion-item>
				<ion-label color="primary" stacked>Description: </ion-label>
				<ion-textarea rows="5" placeholder="I would like to start my own business. Being able to have lunch with someone who can do ..., would" [(ngModel)]="model.description" #ctrl="ngModel" required></ion-textarea>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			Keywords
			<button ion-button icon-only small color="danger" (click)="onAddKeywordBtnTap($event)"><ion-icon name="add"></ion-icon></button>								
		</ion-card-header>
		<ion-card-content>
			<span *ngIf="dreamHasNoKeywords()">
				Keywords are descriptive words and phrases. Add some that describe this Dream!
			</span>
			<span class="blockItem" *ngFor="let item of model.keywords" (press)="onIndividualKeywordPress(item)">
				{{item.text}}
			</span>
		</ion-card-content>
	</ion-card>

	<ion-row>
		<button ion-button [hidden]="isNewObject()" color="danger" (click)="onDeleteBtnTap($event)">Delete</button>
		<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
	</ion-row>

</ion-content>