page-home {

}

.requestSectionHeader {
	margin: auto;
	padding-top: .5em;
	font-size: 2em;
}

h2 {
	margin: auto;
	border-bottom-style: solid;
	padding-top: .45em;
}

img {
	height: 1em;
	width: 3em;
}