<ion-item-group *ngFor="let prm of getListOfPromises()">

	<ion-item-sliding #slidingItem (click)="onViewPromise(prm)">
		<button ion-item>
			<ion-avatar item-start>
				<img id="prmAvatarImg" [class]="getAvatarCSSClassString(prm)" [src]="getThumbnailImage(prm)" alt="profile_image">
			</ion-avatar>

			<span class="prmTitle">{{prm.title}}</span><br/>
			
			<ion-icon [ngStyle]="{'color':getAlreadyRequestedIconColor(prm)}" name="megaphone"> </ion-icon>
			<ion-icon [ngStyle]="{'color':getSufficientPointsIconColor(prm)}" name="pricetag"></ion-icon>
			<ion-icon *ngIf="hasPrmBeenPreviouslyRequested(prm)" [ngStyle]="{'color':getSufficientTimeIconColor(prm)}" name="clock"></ion-icon>
			<ion-icon *ngIf="areRecommendationsRequired(prm)" [ngStyle]="{'color':getNecessaryRecommendationsIconColor(prm)}" name="people"></ion-icon>

			- <span class="prmQuantity">{{prm.quantity}} {{prm.quantityDescription}}</span><br/>
			<span class="prmDesc">{{prm.description}}</span>
		</button>

	</ion-item-sliding>
</ion-item-group>
