<ion-item-group *ngFor="let prm of getListOfPromises()">

	<ion-item-sliding #slidingItem (click)="onViewPromise(prm)">
		<button ion-item>
			<ion-avatar item-start>
				<img [src]="getThumbnailImage(prm)">
			</ion-avatar>

			<ion-icon [ngStyle]="{'color':getAlreadyRequestedIconColor(prm)}" name="megaphone"> </ion-icon>
			<ion-icon [ngStyle]="{'color':getSufficientPointsIconColor(prm)}" name="pricetag"></ion-icon>
			<ion-icon *ngIf="hasPrmBeenPreviouslyRequested(prm)" [ngStyle]="{'color':getSufficientTimeIconColor(prm)}" name="clock"></ion-icon>
			<ion-icon *ngIf="areRecommendationsRequired(prm)" [ngStyle]="{'color':getNecessaryRecommendationsIconColor(prm)}" name="people"></ion-icon>

			<span class="prmTitle">{{prm.title}}</span>
			<span class="prmDesc">{{prm.description}}</span>
		</button>

	</ion-item-sliding>
</ion-item-group>
