<ion-header>
	<ion-navbar>
		<ion-title>
			<span *ngIf="isReadOnly()">View Their URL:</span>
			<span *ngIf="!isReadOnly()">Edit Your URL</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<span *ngIf="isReadOnly()">Here is the URL for their {{name}} page:<br/><br/></span>
	<span *ngIf="!isReadOnly()">Enter the URL for your {{name}} page:<br/><br/></span>
	<ion-row>
		<img class="socialNetworkCRUDImg" [src]="getImageSrc()">
		<ion-input type="text" placeholder="url" [readonly]="isReadOnly()" (ionChange)="onValueChange($event)" [value]="getValue()" required></ion-input>
	</ion-row>
	<ion-row>
		<br/><br/>
		<button ion-button [hidden]="isReadOnly()" (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</button>
		<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">OK</button>
	</ion-row>
</ion-content>
