.listFooterBtn {
	float: right;
}

#pageHeaderText {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.smallKeyword {
	display: inline-block;
	border-style: none none solid none;
	border-width: 2px;
	margin-left: .25em;
	margin-right: .25em;
}

.offerTitle {
	font-size: 1.25em;
	font-weight: bold;
}

div.offerDetail span.offerReqdPts {
	font-style: italic;
}