<ion-header>
	<easyah-header></easyah-header>
</ion-header>

<ion-content>
	<ion-grid>

		<ion-row>
			<ion-item no-lines>
				<button ion-button (click)="onGoBackBtnTap($event)">Go Back</button>
				<button *ngIf="isCurrentUsersOffer()" round ion-button item-right (click)="onEditOfferBtnClick($event)"><ion-icon class="whiteText profileIcon" name="create"></ion-icon></button>
			</ion-item>
		</ion-row>


		<ion-row>
			<div class="card">
				<img id="offerDisplayHeaderImg" [class]="getAvatarCSSClassString()" [src]="getThumbnailImage()" alt="profile_image">
			</div>
		</ion-row>	

		<ion-row>
			<ion-item no-lines>
				<h1 id="displayOfferTitle">{{ getModel()["title"] }}</h1>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-item no-lines>
				Offering <span id="displayOfferQuantity">{{ getModel()["quantity"] }} {{ getModel()["quantityDescription"] }}</span>
			</ion-item>
		</ion-row>
		<ion-row>
			<ion-item no-lines>
				<h4 id="displayOfferDescription">{{ getModel()["description"] }}</h4>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-item>
				<span class="displayOfferSectionHeader">Keywords</span>
				<span *ngFor="let item of model.keywords">
					<span class="blockItem" >{{item.text}}</span>
				</span>
			</ion-item>
		</ion-row>
		
		<ion-row>
			<ion-item>
				<span class="displayOfferSectionHeader">Requirements</span>
				<span class="pointsSpan">{{ getRequiredPointsQuantityString() }}</span>
				<users-line-item *ngFor="let user of getRequiredRecommendationUserObjects()" [item]="user" [clickthru]="false"></users-line-item>
			</ion-item>
		</ion-row>

		<ion-row>
			<ion-item>
				<!-- TODO: This should be a 'more' link that disappears when clicked, revealing the details, and then 
					reappers when the details are clicked, showing the 'more' link again. -->
				<span class="displayOfferSectionHeader">Statistics</span>
				<span *ngIf="hasStatistics()">
					<span>{{getFirstFulfilledText()}}<br/></span>
					<span>{{getTotalPointsEarned()}}<br/></span>
					<span>{{getNumberOfComplaints()}}<br/></span>
				</span>
				<span *ngIf="!hasStatistics()">
					<span>This offer is new! It doesn't have statistics yet.<br/></span>
				</span>
			</ion-item>		
		</ion-row>

		<ion-row *ngIf="isRequestMessageAvailable()">
			<ion-item>
				<span class="displayOfferSectionHeader">Messages</span>
				<span *ngFor="let item of getStillMoreTimeLeftMessages()" [ngStyle]="{'color':'red'}">
					{{item.msg}}<br/>
				</span>
				<span *ngFor="let item of getAlreadyRequestedRequestMessages()" [ngStyle]="{'color':'red'}">
					{{item.msg}}<br/>
				</span>
				<span *ngFor="let item of getPointsRequestMessages()" [ngStyle]="{'color':'red'}">
					You need {{item.msg}}.<br/>
				</span>
				<span *ngIf="isRecommendationsRequestMessageAvailable()">
					You need recommendations from:
						<ul>
							<li *ngFor="let item of getRecommendationsRequestMessages()" [ngStyle]="{'color':'red'}">
								{{item.msg}}<br/>
							</li>
						</ul>
				</span>
			</ion-item>		
		</ion-row>
		
		<p></p>
		
		<ion-row>
			<button ion-button [hidden]="!isDeleteBtnVisible()" color="danger" (click)="onDeleteBtnTap($event)">Delete</button>			
			<button ion-button [hidden]="!isRequestBtnVisible()" (click)="onRequestBtnTap($event)">Request</button>
		</ion-row>

		<p></p>

	</ion-grid>
</ion-content>