#tutorial-lightning-img {
	width: 16%;
}

#tutorial-lightning-time-and-energy-img {
	width: 40%;
}

#tutorial-heart-img {
	width: 16%;
}

#tutorial-people-img {
	width: 16%;
}

#tutorial-heartArrowsLightning-img {
	width: 37%;
}

#tutorial-people-lightning-img {
	width: 30%;
}