	<ion-card *ngIf="isRequestModelEmpty()">
		<ion-card-content>
			There are no requests that you've made of others.
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getAcceptedRequests() !== undefined">
		<ion-card-header>
			<hr class="green"/>
			<!-- Accepted<br/> -->
			<i>These requests you've made have been accepted, and are in-progress.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getAcceptedRequests()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCancelBtnTap(item)">Cancel</button>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getPendingRequests() !== undefined">
		<ion-card-header>
			<hr class="yellow"/>
			<!-- Pending<br/> -->
			<i>We're waiting for other users to respond to these requests you've made.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getPendingRequests()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onCancelBtnTap(item)">Cancel</button>				
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getCompletedAwaitingApprovalRequests() !== undefined">
		<ion-card-header>
			<hr class="yellow"/>
			<!-- Completed, Awaiting Your Approval<br/> -->
			<i>The people you made requests of have indicated these are done!</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getCompletedAwaitingApprovalRequests()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onNotCompleteBtnTap(item)">Not Complete</button>

			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getNotCompleteAwaitingResolution() !== undefined">
		<ion-card-header>
			<hr class="red"/>
			<!-- Not Complete, Disputed, Awaiting Resolution<br/> -->
			<i>You've indicated you don't think these promises were fulfilled.</i>
			<i>Please talk with the other user, and lets get these resolved!</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getNotCompleteAwaitingResolution()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Mark as Complete</button>
				<button ion-button (click)="onPermanentlyDismissBtnTap(item)">Permanently Dismiss</button>
			</ion-item>

		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getCancelledRequests() !== undefined">
		<ion-card-header>
			<!-- Cancelled<br/> -->
			<hr class="red"/>
			<i>These are requests you have made, but cancelled.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getCancelledRequests()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				<button ion-button (click)="onCancelBtnTap(item)">Cancel</button>				
			</ion-item>

		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getDeclinedRequests() !== undefined">
		<ion-card-header>
			<!-- Declined<br/> -->
			<hr class="red"/>
			<i>These are requests the other user declined to do.</i>
		</ion-card-header>
		<ion-card-content *ngFor="let item of getDeclinedRequests()">
			<ion-item>
				The promise: <b>{{item.prm.title}}</b><br/>
				Promised by: {{item.directionallyOppositeUser.realname}}<br/>
				Your dream: {{item.dream.title}}<br/>
				Decline Reason: {{item.declinedReasonCode.text}}<br/>
				<button ion-button (click)="onAcknowledgeBtnTap(item)">OK.. Got It.</button>
			</ion-item>
		</ion-card-content>
	</ion-card>