
	<ion-item *ngIf="isRequestModelEmpty()">
		There are no requests that you have made to other people.
	</ion-item>
	<requests-line-item *ngFor="let item of getAcceptedRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getCompletedAwaitingApprovalRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getPendingRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getNotCompleteAwaitingResolution()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getCancelledRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
	<requests-line-item *ngFor="let item of getDeclinedRequests()" [direction]="getDirection()" [request]="item"></requests-line-item>
