<ion-header>
	<ion-navbar>
		<ion-title>
			Welcome!
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="isCurrentStep(1)">
Easyah is your gateway to a network of people, doing their part to improve their corner of the world.<br/><br/>

Quickly, there are three things you need to understand to use Easyah.<br/><br/>

<ul>
	<li><b>Promises</b> / These are offers you make to do something for someone.<br/><br/></li>
	<li><b>Points</b> / These allow one person to ask another person to fulfill a promise they made.<br/><br/></li>
</ul>

So, in a nutshell, you create a profile, and then you search for Promises by other users who can help you. These Promises will require points. When you have earned enough points, you can make a request for a person to fulfill the Promise they made, for you.
<br/><br/>
	</ion-row>

	<ion-row *ngIf="isCurrentStep(2)">
<span>Sometimes, instead of asking people to fulfill a promise for you, you will need to be the person making and fulfilling Promises for other people. <b>This is the primary way you will receive points.</b> When you fulfill your Promise, you get a number of points in return. You decide how many that is.<br/><br/></span>

Sometimes you are doing things for other people, sometimes they are doing things for you. If you do both of those here on Easyah, you will be helping our mission: to make Good Things(tm) happen.<br/><br/>

Join us online, in our Facebook group! Search for 'easyah.io'.<br/><br/>

To get started now, 
<ul>
	<li>Click on your contact info at the top of the screen to go to your Profile. From there, you can create your Promises.</li>
	<li>Or, you may want to search for other people, and see their Promises. Search by tapping the magnifying glass in the upper right corner of the home page.</li>
</ul>
<br/><br/>
	</ion-row>

	<ion-row>
		<button ion-button *ngIf="getCurrentStep() === 2" (click)="onExitBtnTap($event)">Exit</button>
		<button ion-button *ngIf="getCurrentStep() === 2" (click)="onDoNotShowAgainBtnTap($event)">Do Not Show Tutorial Again</button>
		<button ion-button *ngIf="getCurrentStep() === 1" (click)="onNextBtnTap($event)">Next &gt;</button>
	</ion-row>
</ion-content>	