<ion-header>
	<ion-navbar>
		<ion-title>
			Thing Detail
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="isRequestMessageAvailable()">
		<ion-card-content *ngIf="isAlreadyRequestedMessageAvailable()">
			<ion-item *ngFor="let item of getAlreadyRequestedRequestMessages()" [ngStyle]="{'color':'red'}">
				{{item.msg}}
			</ion-item>
		</ion-card-content>	
		<ion-card-content *ngIf="isPointsRequestMessageAvailable()">
			<span *ngFor="let item of getPointsRequestMessages()" [ngStyle]="{'color':'red'}">
				You need {{item.msg}}.
			</span>
		</ion-card-content>	
		<ion-card-content *ngIf="isRecommendationsRequestMessageAvailable()">
			You need recommendations from:
			<ul>
				<li *ngFor="let item of getRecommendationsRequestMessages()" [ngStyle]="{'color':'red'}">
					{{item.msg}}
				</li>
			</ul>
		</ion-card-content>	
	</ion-card>
	<ion-card>
		<ion-card-content>
			<ion-item>
				Title: 
				<ion-input type="text" placeholder="Title" [disabled]="isReadOnly()" (ionChange)="handleTitleChange($event)" [(ngModel)]="model.title" #ctrl="ngModel" required></ion-input>
			</ion-item>
			<ion-item>
				Description: 
				<ion-input type="text" placeholder="Description" [disabled]="isReadOnly()" (ionChange)="handleDescriptionChange($event)" [(ngModel)]="model.description" #ctrl="ngModel" required></ion-input>
			</ion-item>
			<ion-item>
				Rules
				<button ion-button icon-only small color="danger" [hidden]="isReadOnly()" (click)="onNewThingBtnTap($event)"><ion-icon name="add"></ion-icon></button><br/>
				<i>Required Points:  </i> {{getRequiredPointsQuantity()}}<br/>
				<i>Required Recommendations:</i><br/>
				<span *ngFor="let realname of getRequiredUsers()">
					{{realname}}<br/>
				</span>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			Keywords
			<button *ngIf="!isReadOnly()" ion-button icon-only small color="danger" (click)="onAddKeywordBtnTap($event)"><ion-icon name="add"></ion-icon></button>								
		</ion-card-header>
		<ion-card-content>
			<span *ngIf="thingHasNoKeywords()">
				Keywords are like #hashtags. Add some that describe this Thing!
			</span>
			<span class="blockItem" *ngFor="let item of model.keywords" (press)="onIndividualKeywordPress(item)">
				{{item.text}}
			</span>
		</ion-card-content>
	</ion-card>
	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
		<button ion-button [hidden]="!isDeleteBtnVisible()" color="danger" (click)="onDeleteBtnTap($event)">Delete</button>			
		<button ion-button [hidden]="!isSaveBtnVisible()" [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
		<button ion-button [hidden]="!isRequestBtnVisible()" (click)="onRequestBtnTap($event)">Request</button>
	</ion-row>

</ion-content>