<ion-header>
	<ion-navbar>
		<ion-title>
			Thing Detail
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-label fixed>Title: </ion-label>
		<ion-input type="text" placeholder="Title" (ionChange)="handleTitleChange($event)" [(ngModel)]="model.title" #ctrl="ngModel" required></ion-input>		
	</ion-row>
	<ion-row>
		<ion-label fixed>Description: </ion-label>
		<ion-input type="text" placeholder="Description" (ionChange)="handleDescriptionChange($event)" [(ngModel)]="model.description" #ctrl="ngModel" required></ion-input>		
	</ion-row>
	<ion-row>
		<ion-row>
		<ion-label fixed>Rules: </ion-label>
		<button ion-button (click)="onNewRuleBtnTap($event)">Add</button>		
		</ion-row>
		<ion-row>
		<ul>
			<li *ngFor="let r of getRequiredUsers()">
				Red'd User Id: {{r["requiredRecommendUserId"]}}<br/>
			</li>
			<li>
				Req'd Points: {{getRequiredPointsQuantity()}}
			</li>
		</ul>

		</ion-row>
	</ion-row>
	<ion-row>
		<ion-card>
			<ion-card-header>
				Keywords
				<button ion-button icon-only small color="danger" (click)="onAddKeywordBtnTap($event)"><ion-icon name="add"></ion-icon></button>								
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="thingHasNoKeywords()">
					Keywords are like #hashtags. Add some that describe this Thing!
				</span>
				<span class="blockItem" *ngFor="let item of model.keywords" (press)="onIndividualKeywordPress(item)">
					{{item.text}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>
	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
		<button ion-button [hidden]="isNewObject()" color="danger" (click)="onDeleteBtnTap($event)">Delete</button>			
		<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
	</ion-row>

</ion-content>