<ion-header>
	<ion-navbar>
		<ion-title>
			Outgoing Requests
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="getAcceptedRequests() !== undefined">
		Completed, Awaiting Your Approval<br/>
		<ul>
			<li *ngFor="let item of getAcceptedRequests()">
				User {{item.directionallyOppositeUser.realname}}, indicated they finished doing their thing '{{item.thing.title}}' for your dream '{{item.dream.title}}'.
				<button ion-button (click)="onViewContactInfoBtnTap(item)">View Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onNotCompleteBtnTap(item)">Not Complete</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getAcceptedRequests() !== undefined">
		Accepted<br/>
		<ul>
			<li *ngFor="let item of getAcceptedRequests()">
				User {{item.directionallyOppositeUser.realname}}, agreed to do thing '{{item.thing.title}}' for your dream '{{item.dream.title}}'
				<button ion-button (click)="onViewContactInfoBtnTap(item)">View Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onCancelBtnTap(item)">Cancel</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getPendingRequests() !== undefined">
		Pending<br/>
		<ul>
			<li *ngFor="let item of getPendingRequests()">
				You requested User {{item.directionallyOppositeUser.realname}}, do thing '{{item.thing.title}}' for your dream '{{item.dream.title}}'
				<button ion-button (click)="onCancelBtnTap(item)">Cancel Request</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getCancelledRequests() !== undefined">
		Cancelled<br/>
		<ul>
			<li *ngFor="let item of getCancelledRequests()">
				User {{item.directionallyOppositeUser.realname}}, agreed to do thing '{{item.thing.title}}' for your dream '{{item.dream.title}}', but they subsequently cancelled. :(
			</li>
		</ul>
	</ion-row>	
	<ion-row *ngIf="getDeclinedRequests() !== undefined">
		Declined<br/>
		<ul>
			<li *ngFor="let item of getDeclinedRequests()">
				You requested User {{item.directionallyOppositeUser.realname}}, do thing '{{item.thing.title}}' for your dream '{{item.dream.title}}' but they declined.
			</li>
		</ul>
	</ion-row>	
</ion-content>