	<ion-header>
	<ion-navbar>
		<ion-title>
			Search Promises
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-input type="text" placeholder="Search" [(ngModel)]="searchString" #ctrl="ngModel" required></ion-input>
		<button ion-button icon-only (click)="onSearchBtnTap($event)">
			<ion-icon name="search"></ion-icon>
		</button>
	</ion-row>

	<ion-card *ngFor="let promise of resultList" (click)="showPromiseDetail(promise)">
		<ion-card-header>
			<ion-icon [ngStyle]="{'color':getAlreadyRequestedIconColor(promise)}" name="megaphone"> </ion-icon>
			<ion-icon [ngStyle]="{'color':getSufficientPointsIconColor(promise)}" name="pricetag"></ion-icon>
			<ion-icon *ngIf="hasPrmBeenPreviouslyRequested(promise)" [ngStyle]="{'color':getSufficientTimeIconColor(promise)}" name="clock"></ion-icon>
			<ion-icon *ngIf="areRecommendationsRequired(promise)" [ngStyle]="{'color':getNecessaryRecommendationsIconColor(promise)}" name="people"></ion-icon>
			<br/>
			<b>{{promise.title}}</b>
			<br/>
			{{promise.directionallyOppositeUser.realname}}
		</ion-card-header>
		<ion-card-content>
			{{promise.description}}
		</ion-card-content>
	</ion-card>

</ion-content>