<ion-header>
	<ion-navbar>
		<ion-title>
			Search
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-input type="text" class="searchQueryField" (ionChange)="onQueryChanged($event)" [value]="getSearchQuery()"></ion-input>
			<button (click)="onSearchBtnTap()">Search</button>
		</ion-row>
		<ion-list>
			<ion-item *ngIf="arePromiseResultsAvailable()" no-lines>
				<ion-list-header>
					Promises
				</ion-list-header>
				<promise-line-item *ngFor="let prm of getPromiseResults()" [item]="prm"></promise-line-item>
			</ion-item>
			<ion-item *ngIf="!arePromiseResultsAvailable()">
				<ion-list-header>
					Promises
				</ion-list-header>
				There are no matching promises.
			</ion-item>
			<ion-item *ngIf="areUsersResultsAvailable()" no-lines>
				<ion-list-header>
					Users
				</ion-list-header>
				<users-line-item *ngFor="let user of getUsersResults()" [item]="user"></users-line-item>
			</ion-item>
			<ion-item *ngIf="!areUsersResultsAvailable()">
				<ion-list-header>
					Users
				</ion-list-header>
				There are no matching users.
			</ion-item>
		</ion-list>
	</ion-grid>
</ion-content>