<ion-header>
	<ion-navbar>
		<ion-title>
			Search For Things
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-input type="text" placeholder="Search" [(ngModel)]="searchString" #ctrl="ngModel" required></ion-input>
		<button ion-button icon-only (click)="onSearchBtnTap($event)">
			<ion-icon name="search"></ion-icon>
		</button>
	</ion-row>

	<ion-row>
		<ul>
			<li *ngFor="let item of resultList">
				<button ion-button [id]="item.id" [disabled]="!isRequestable(item)" (click)="onRequestBtnTap($event, item)">Request</button>
				{{item.title}}, {{item.description}}
				<ul>
					<li *ngFor="let kw of item.keywords">
						{{kw.text}}
					</li>
				</ul>
			</li>
		</ul>
	</ion-row>

</ion-content>