<ion-header>
	<ion-navbar>
		<ion-title>
			Delete a Promise - {{prm.title}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="!isPrmAttachedToARequestNotInProgress() && !isPrmAttachedToAnInProgressRequest()">
		<ion-label>Are you sure you want to delete this Promise?</ion-label>
	</ion-row>

	<ion-row *ngIf="isPrmAttachedToARequestNotInProgress() || isPrmAttachedToAnInProgressRequest()">
		<ion-label>People have asked to take you up on a Promise...</ion-label>
	</ion-row>
	<ion-row *ngIf="isPrmAttachedToARequestNotInProgress()">
		<ion-card>
			<ion-card-header>
				You have not yet accepted these requests. If you delete this Promise, these requests will be cancelled.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let prm of getPrmRequestsNotInProgress()">
					User: {{item.directionallyOppositeUser.realname}} Dream: {{item.dream.title}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>		
	<ion-row *ngIf="isPrmAttachedToAnInProgressRequest()">
		<ion-card>
			<ion-card-header>
				These requests are in progress. You will need to resolve these before deleting this Promise.
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let item of getPrmRequestsInProgress()">
					User: {{item.directionallyOppositeUser.realname}} Dream: {{item.dream.title}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</button>
		<button ion-button color="danger" [disabled]="!isDeleteBtnEnabled()" (click)="onDeleteBtnTap($event)">DELETE!</button>
	</ion-row>

</ion-content>