<ion-header>
	<ion-navbar>
		<ion-title>
			Create New Rule
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-label>Rules are lists of things another user must have <i>before</i> they can ask you to fulfill your promise. You must require at least one point, but you could require a recommendation, and many points, if you'd like.</ion-label>
		<ion-row>
			<ion-grid>
				<ion-row>
					<ion-col >
						<ion-label>Required points</ion-label>
					</ion-col>
					<ion-col col-auto>
						<ion-input class="floatRight" type="number" placeholder="quantity" max="10000" [(ngModel)]="pointsQuantity" #ctrl="ngModel" required></ion-input>
					</ion-col>
				</ion-row>
			</ion-grid>
			
		</ion-row>
		<ion-row>
			<ion-grid>
				<ion-row>
					<ion-col >
						<span class="recommendationLabel">Required recommendations</span>
					</ion-col>
					<ion-col col-auto>
						<div *ngIf="hasRequiredRecommendations()">
							<span class="blockItem" *ngFor="let rec of requiredUserRecommendations" (press)="onIndividualRequiredUserPress(rec)">
								{{rec.userObj.realname}}
							</span>
						</div>
						<div *ngIf="!hasRequiredRecommendations()" class="floatRight">
							<span>
								No recommendations required.
							</span>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-row>
		<hr/>
		<ion-row>
			<ion-input type="text" placeholder="To require a recommend, search a user name" (ionChange)="handleSearchStringChange($event)" [(ngModel)]="searchString" #ctrl="ngModel" required></ion-input>
			<button ion-button icon-only [disabled]="!isSearchBtnEnabled()" (click)="onSearchUserBtnTap($event)">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-row>
		<ion-row *ngIf="getSearchResultListCountString()">
			{{getSearchResultListCountString()}}
		</ion-row>
		<ion-row *ngIf="getSearchResultList() !== undefined">
			<ion-list radio-group>
				<span class="blockItem" *ngFor="let user of getSearchResultList()" (click)="onIndividualSearchResultTap(user)">
					{{user.realname}}
				</span>
			</ion-list>
		</ion-row>

		<ion-row>
			<button ion-button (click)="onCancelBtnTap($event)">Cancel</button>
			<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">Save</button>
		</ion-row>

	</ion-content>