<ion-header>
	<ion-navbar>
		<ion-title>
			Add Keywords
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-card>
			<ion-card-header>
				Keywords (press and hold to delete)
			</ion-card-header>
			<ion-card-content>
				<span *ngIf="userHasNoKeywords()">
					This are no keywords defined yet.
				</span>
				<span class="blockItem" *ngFor="let item of getKeywordArray()" (press)="onIndividualKeywordPress(item)">
					{{item.text}}
				</span>
			</ion-card-content>
		</ion-card>
	</ion-row>	

	<ion-label>Enter new keywords</ion-label>
	<ion-label>Separate multiple keywords,with,commas (for example).</ion-label>

	<ion-row>
		<ion-input type="text" placeholder="..words.." (ionChange)="onAddKeywordFieldChange($event)" [value]="getAddKeywordFieldValue()" required></ion-input>
		<button ion-button [disabled]="!isAddBtnEnabled()" (click)="onAddBtnTap($event)">Add</button>
	</ion-row>

	<ion-row>
		<button ion-button (click)="onCancelBtnTap($event)">Sorry, no.. Cancel</button>
		<button ion-button [disabled]="!isSaveBtnEnabled()" (click)="onSaveBtnTap($event)">OK</button>
	</ion-row>

</ion-content>