.circularized {
	border-radius: 50%;
}

-table {
	margin: 0 auto;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.profile_header__text {
	font-size: 2em;
}

.profile_header__name > input.text-input.text-input-md {
	font-size: 2em;
	margin: 0px 8px;
}

.item-inner {
	width: 0px;
	padding-right: 0px!important;
}
