<ion-header>
	<ion-navbar>
		<ion-title>
			Incoming Requests
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="getAcceptedRequests() !== undefined">
		<ion-card-header>
			Accepted
		</ion-card-header>
		<ion-card-content *ngFor="let item of getAcceptedRequests()">
			<ion-item>
				{{item.thing.title}}
				{{item.directionallyOppositeUser.realname}}
				{{item.dream.title}}
			</ion-item>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onUnableToCompleteBtnTap(item)">Cancel</button>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getCompletedPendingApprovalRequests() !== undefined">
		<ion-card-header>
			Completed Pending Requestor Approval
		</ion-card-header>
		<ion-card-content *ngFor="let item of getCompletedPendingApprovalRequests()">
			<ion-item>
				{{item.thing.title}}
				{{item.directionallyOppositeUser.realname}}
				{{item.dream.title}}
			</ion-item>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getDisputedCompletedRequests() !== undefined">
		<ion-card-header>
			Disputed, Requestor Marked Not Complete
		</ion-card-header>
		<ion-card-content *ngFor="let item of getDisputedCompletedRequests()">
			<ion-item>
				{{item.thing.title}}
				{{item.directionallyOppositeUser.realname}}
				{{item.dream.title}}
			</ion-item>
				<button ion-button (click)="onViewContactInfoBtnTap(item)">Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getPendingRequests() !== undefined">
		<ion-card-header>
			Pending
		</ion-card-header>
		<ion-card-content *ngFor="let item of getPendingRequests()">
			<ion-item>
				{{item.thing.title}}
				{{item.directionallyOppositeUser.realname}}
				{{item.dream.title}}
			</ion-item>
				<button ion-button (click)="onAcceptBtnTap(item)">Accept</button>
				<button ion-button (click)="onDeclineBtnTap(item)">Decline</button>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="getDeclinedRequests() !== undefined">
		<ion-card-header>
			Declined
		</ion-card-header>
		<ion-card-content *ngFor="let item of getDeclinedRequests()">
			<ion-item>
				{{item.thing.title}}
				{{item.directionallyOppositeUser.realname}}
				{{item.dream.title}}
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>