<ion-header>
	<ion-navbar>
		<ion-title>
			Incoming Requests
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="getAcceptedRequests() !== undefined">
		Accepted<br/>
		<ul>
			<li *ngFor="let item of getAcceptedRequests()">
				{{item.requestingUser.realname}}, {{item.thing.title}}
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getPendingRequests() !== undefined">
		Pending<br/>
		<ul>
			<li *ngFor="let item of getPendingRequests()">
				{{item.requestingUser.realname}}, {{item.thing.title}}
				<button ion-button (click)="onAcceptBtnTap(item)">Accept</button>
				<button ion-button (click)="onDeclineBtnTap(item)">Decline</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getDeclinedRequests() !== undefined">
		Declined<br/>
		<ul>
			<li *ngFor="let item of getDeclinedRequests()">
				{{item.requestingUser.realname}}, {{item.thing.title}}
			</li>
		</ul>
	</ion-row>	
</ion-content>