<ion-header>
	<ion-navbar>
		<ion-title>
			Incoming Requests
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row *ngIf="getAcceptedRequests() !== undefined">
		Accepted<br/>
		<ul>
			<li *ngFor="let item of getAcceptedRequests()">
				For user {{item.directionallyOppositeUser.realname}}, you agreed to do your thing {{item.thing.title}} for their dream {{item.dream.title}}. 
				<button ion-button (click)="onViewContactInfoBtnTap(item)">View {{item.requestingUser.realname}}'s Contact Info</button>
				<button ion-button (click)="onCompleteBtnTap(item)">Complete</button>
				<button ion-button (click)="onCancelBtnTap(item)">Cancel</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getPendingRequests() !== undefined">
		Pending<br/>
		<ul>
			<li *ngFor="let item of getPendingRequests()">
				User {{item.directionallyOppositeUser.realname}}, requested you do your thing {{item.thing.title}} for their dream {{item.dream.title}}. 
				<button ion-button (click)="onAcceptBtnTap(item)">Accept</button>
				<button ion-button (click)="onDeclineBtnTap(item)">Decline</button>
			</li>
		</ul>
	</ion-row>
	<ion-row *ngIf="getDeclinedRequests() !== undefined">
		Declined<br/>
		<ul>
			<li *ngFor="let item of getDeclinedRequests()">
				You declined to do your thing {{item.thing.title}} for User {{item.directionallyOppositeUser.realname}}, dashing their dream {{item.dream.title}}.
			</li>
		</ul>
	</ion-row>	
</ion-content>